<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kotlin.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.kotlin.bean.Category">
    <id column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_description" jdbcType="VARCHAR" property="categoryDescription" />
    <result column="category_bgPicture" jdbcType="VARCHAR" property="categoryBgpicture" />
    <result column="category_bgColor" jdbcType="VARCHAR" property="categoryBgcolor" />
    <result column="category_headerImage" jdbcType="VARCHAR" property="categoryHeaderimage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    category_id, category_name, category_description, category_bgPicture, category_bgColor, 
    category_headerImage
  </sql>
  <select id="selectByExample" parameterType="com.kotlin.bean.example.CategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from category
    where category_id = #{categoryId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.kotlin.bean.example.CategoryExample">
    delete from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kotlin.bean.Category">
    insert into category (category_id, category_name, category_description, 
      category_bgPicture, category_bgColor, category_headerImage
      )
    values (#{categoryId,jdbcType=BIGINT}, #{categoryName,jdbcType=VARCHAR}, #{categoryDescription,jdbcType=VARCHAR}, 
      #{categoryBgpicture,jdbcType=VARCHAR}, #{categoryBgcolor,jdbcType=VARCHAR}, #{categoryHeaderimage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kotlin.bean.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryDescription != null">
        category_description,
      </if>
      <if test="categoryBgpicture != null">
        category_bgPicture,
      </if>
      <if test="categoryBgcolor != null">
        category_bgColor,
      </if>
      <if test="categoryHeaderimage != null">
        category_headerImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescription != null">
        #{categoryDescription,jdbcType=VARCHAR},
      </if>
      <if test="categoryBgpicture != null">
        #{categoryBgpicture,jdbcType=VARCHAR},
      </if>
      <if test="categoryBgcolor != null">
        #{categoryBgcolor,jdbcType=VARCHAR},
      </if>
      <if test="categoryHeaderimage != null">
        #{categoryHeaderimage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kotlin.bean.example.CategoryExample" resultType="java.lang.Long">
    select count(*) from category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update category
    <set>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.categoryName != null">
        category_name = #{record.categoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryDescription != null">
        category_description = #{record.categoryDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryBgpicture != null">
        category_bgPicture = #{record.categoryBgpicture,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryBgcolor != null">
        category_bgColor = #{record.categoryBgcolor,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryHeaderimage != null">
        category_headerImage = #{record.categoryHeaderimage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update category
    set category_id = #{record.categoryId,jdbcType=BIGINT},
      category_name = #{record.categoryName,jdbcType=VARCHAR},
      category_description = #{record.categoryDescription,jdbcType=VARCHAR},
      category_bgPicture = #{record.categoryBgpicture,jdbcType=VARCHAR},
      category_bgColor = #{record.categoryBgcolor,jdbcType=VARCHAR},
      category_headerImage = #{record.categoryHeaderimage,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kotlin.bean.Category">
    update category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescription != null">
        category_description = #{categoryDescription,jdbcType=VARCHAR},
      </if>
      <if test="categoryBgpicture != null">
        category_bgPicture = #{categoryBgpicture,jdbcType=VARCHAR},
      </if>
      <if test="categoryBgcolor != null">
        category_bgColor = #{categoryBgcolor,jdbcType=VARCHAR},
      </if>
      <if test="categoryHeaderimage != null">
        category_headerImage = #{categoryHeaderimage,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kotlin.bean.Category">
    update category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_description = #{categoryDescription,jdbcType=VARCHAR},
      category_bgPicture = #{categoryBgpicture,jdbcType=VARCHAR},
      category_bgColor = #{categoryBgcolor,jdbcType=VARCHAR},
      category_headerImage = #{categoryHeaderimage,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=BIGINT}
  </update>
</mapper>